<div class="customs-container">
  <div class="customs-left-column">
    <div class="sound-set-box customs-box">
      {{#each customSoundSetNames}}
      <div class="sound-set-entry">
        <span class="sound-set-entry-text{{#if this.selected}} sound-set-entry-selected{{/if}}"
          data-action="select_sound_set" data-id="{{this.id}}">
          {{this.display_name}}
        </span>
        <i class="fa-solid fa-trash customs-entry-icon" data-action="delete_sound_set" data-id="{{this.id}}"
          data-display_name="{{this.display_name}}" data-tooltip="Delete sound set"></i>
      </div>
      {{/each}}
    </div>
    <button class="sound-set-add-button" type="button" data-action="create_sound_set">
      <i class="fa-solid fa-spaghetti-monster-flying"></i>
      Create Sound Set
    </button>
    <button class "sound-set-import-folder-button" type="button" data-action="import_from_folder">
      <i class="fa-solid fa-folder-open"></i> 
      Import from Folder
    </button>
    <div class="sound-set-download-upload">
      <button class="text-and-icon-button" type="button" data-action="download_sound_sets">
        <i class="fa-solid fa-file-export"></i>
        Export
      </button>
      <button class="text-and-icon-button" type="button" data-action="upload_sound_sets">
        <i class="fa-solid fa-file-import"></i>
        Import
      </button>
      <button class="icon-only-button" type="button" data-action="clear_sound_sets" data-tooltip="Clear sound sets">
        <i class="fa-solid fa-eraser icon-only"></i>
      </button>
    </div>
  </div>
  <div class="customs-right-column{{#if nothingSelected}} customs-disabled{{/if}}">
    <div class="sound-set-name-container">
      <span class="sound-set-name-label">Sound Set Name</span>
      <input class="sound-set-name-input" id="name-input" type="text" value="{{selectedSoundSet.display_name}}"
        data-id="{{selectedSoundSet.id}}" required />
    </div>
    <div class="sound-type-header">
      <span class="sound-type-header-text">Attack Sounds</span>
      <i class="fa-solid fa-square-plus plus-icon" data-action="add_sound" data-type="attack"
        data-id="{{selectedSoundSet.id}}" data-tooltip="Add attack sound"></i>
    </div>
    <div class="sound-type-box customs-box">
      {{#each selectedSoundSet.attack_sounds}}
      <div class="sound-type-entry">
        <span class="sound-type-entry-text">{{this}}</span>
        <i class="fa-solid fa-play customs-entry-icon" data-action="play_sound" data-path="{{this}}" data-tooltip="Play sound"></i>
        <i class="fa-solid fa-trash customs-entry-icon" data-action="delete_sound" data-index="{{@index}}"
          data-type="attack" data-tooltip="Delete sound"></i>
      </div>
      {{/each}}
    </div>
    <div class="sound-type-header">
      <span class="sound-type-header-text">Hurt Sounds</span>
      <i class="fa-solid fa-square-plus plus-icon" data-action="add_sound" data-type="hurt"
        data-id="{{selectedSoundSet.id}}" data-tooltip="Add hurt sound"></i>
    </div>
    <div class="sound-type-box customs-box">
      {{#each selectedSoundSet.hurt_sounds}}
      <div class="sound-type-entry">
        <span class="sound-type-entry-text">{{this}}</span>
        <i class="fa-solid fa-play customs-entry-icon" data-action="play_sound" data-path="{{this}}" data-tooltip="Play sound"></i>
        <i class="fa-solid fa-trash customs-entry-icon" data-action="delete_sound" data-index="{{@index}}"
          data-type="hurt" data-tooltip="Delete sound"></i>
      </div>
      {{/each}}
    </div>
    <div class="sound-type-header">
      <span class="sound-type-header-text">Death Sounds</span>
      <i class="fa-solid fa-square-plus plus-icon" data-action="add_sound" data-type="death"
        data-id="{{selectedSoundSet.id}}" data-tooltip="Add death sound"></i>
    </div>
    <div class="sound-type-box customs-box">
      {{#each selectedSoundSet.death_sounds}}
      <div class="sound-type-entry">
        <span class="sound-type-entry-text">{{this}}</span>
        <i class="fa-solid fa-play customs-entry-icon" data-action="play_sound" data-path="{{this}}" data-tooltip="Play sound"></i>
        <i class="fa-solid fa-trash customs-entry-icon" data-action="delete_sound" data-index="{{@index}}"
          data-type="death" data-tooltip="Delete sound"></i>
      </div>
      {{/each}}
    </div>
  </div>
</div>